<template>
  <v-card class="mx-auto my-2 lighten-3 fill-height" color="primary">
    <v-card-title data-test="name">{{ detail.name }}</v-card-title>

    <v-card-text>
      <v-row no-gutters>
        <v-col sm="6">
          <p class="mb-0" data-test="gender">
            Gender: <span class="font-weight-black">{{ detail.gender }}</span>
          </p>
          <p class="mb-0" data-test="height">
            Height: <span class="font-weight-black">{{ detail.height }}</span>
          </p>
          <p class="mb-0" data-test="mass">
            Mass: <span class="font-weight-black">{{ detail.mass }}</span>
          </p>
        </v-col>
        <v-col sm="6">
          <p class="mb-0">
            Starships:
            <v-chip v-if="!detail.starships.length" color="error" x-small>
              I haven't starship (
            </v-chip>
            <v-chip
              v-for="starship in detail.starships"
              v-else
              :key="starship.id"
              class="mr-2"
              color="secondary"
              x-small
            >
              {{ starship.name }}
            </v-chip>
          </p>
        </v-col>
      </v-row>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>

    <v-card-actions class="py-5 d-flex justify-end">
      <v-btn
        :to="{ name: 'people-id', params: { id } }"
        color="deep-blue lighten-2"
      >
        See more info Person
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'PeopleCard',
  props: {
    detail: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    id() {
      const { url } = this.detail
      const re = /^.*(\d)\/$/
      const result = url.match(re)
      return result[1]
    },
  },
}
</script>

<style scoped></style>
