<template>
  <v-container class="position-relative">
    <v-overlay :absolute="true" :value="loading" :opacity="0.6" color="black">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <div v-if="detail">
      <v-row class="py-4 mx-0">
        <div>
          <h1 class="h1">{{ detail.name }}</h1>
        </div>

        <v-spacer></v-spacer>

        <div>
          <v-btn color="success" @click="$router.go(-1)">Back to List</v-btn>
        </div>
      </v-row>
      <v-divider />
      <v-row>
        <v-col cols="6">
          <v-card class="lighten-3" color="primary">
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Birth Year:
                    <span class="font-weight-black">
                      {{ detail.birth_year }}
                    </span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Gender:
                    <span class="font-weight-black">{{ detail.gender }}</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Height:
                    <span class="font-weight-black">{{ detail.height }}</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Mass:
                    <span class="font-weight-black">{{ detail.mass }}</span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Hair Color:
                    <span class="font-weight-black">
                      {{ detail.hair_color }}
                    </span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Skin Color:
                    <span class="font-weight-black">
                      {{ detail.skin_color }}
                    </span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>
                    Eye Color:
                    <span class="font-weight-black">
                      {{ detail.eye_color }}
                    </span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider />
            </v-list>
          </v-card>
        </v-col>

        <v-col cols="6">
          <h2 class="h2">Films</h2>
          <v-chip
            v-for="(item, idx) in detail.films"
            :key="idx"
            color="primary"
            class="mr-2"
            x-small
          >
            {{ item.title }}
          </v-chip>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data() {
    return {
      loading: false,
    }
  },
  computed: {
    ...mapState('people', ['detail']),
  },
  created() {
    this.getPeopleDetail()
  },
  methods: {
    ...mapActions('people', ['getPeopleDetailAction']),
    getPeopleDetail() {
      const id = this.$route.params.id
      this.loading = true
      this.getPeopleDetailAction(id).finally(() => {
        this.loading = false
      })
    },
  },
}
</script>
