<template>
  <v-row>
    <v-overlay :absolute="true" :value="loading" :opacity="0.6" color="black">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-col
      v-for="item in peopleList.results"
      :key="item.url"
      cols="12"
      sm="8"
      md="6"
    >
      <people-card :detail="item" />
    </v-col>
    <v-col v-if="itemsCount" cols="12">
      <v-pagination
        v-model="page"
        :length="itemsCount"
        :total-visible="5"
        @input="goToPage"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import PeopleCard from '~/components/pages/people/PeopleCard'

export default {
  components: { PeopleCard },
  data() {
    return {
      loading: false,
      page: 1,
    }
  },
  computed: {
    ...mapState('people', ['peopleList']),
    itemsCount() {
      const count = this.peopleList.count
      if (!count) return 0
      return parseInt(count / 10)
    },
  },
  watch: {
    '$route.query'() {
      this.getPeopleList()
    },
  },
  created() {
    this.getPeopleList()
  },
  methods: {
    ...mapActions('people', ['getPeopleListAction']),
    goToPage(page) {
      this.$router.push({ query: { page } })
    },
    getPeopleList() {
      const {
        $route: { query },
      } = this
      this.loading = true
      this.getPeopleListAction(query).finally(() => {
        this.loading = false
      })
    },
  },
}
</script>
